* {
  box-sizing: border-box;
}
body {
  background-color: #fdfe02;
}

nav {

}

#nav-button {
  position: fixed;
  font-size: 40px;
}

#nav-box {
  position: fixed;
  top: 50px;
  left: 45px;

}

#board {
  background-color: #011efe;
  width: 700px;
  height: 600px;
  padding: 0px;
  border-width: 0px;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  border-radius: 16px;
  overflow: hidden;
}

.board-col {
  height: 600px;
  width: 96px;
  display: inline-block;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
}

#col1 {

}

#col2 {

}

#col3 {

}

#col4 {

}

#col5 {

}

#col6 {

}

#col7 {
  /*width: 96px;*/
}

.board-piece {
  background-color: #fdfe02;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 10px;
  margin: 0px;
  padding: 0px;
}

.board-hole {
  height: 100px;
  width: 100px;
  background-color: #011efe;
}

#game-text {
  text-align: center;
  color: #011efe;
  font-weight: bold;
  margin-top: 20px;
}

h1 {
  display: none;
}
