body {
background-color: #011efe;
}

nav {

}

#nav-button {

}

#nav-box {

}

#board {
  background-color: #fdfe02;
  border: solid black 1px;
}

.board-col {
  border: solid black 1px;
  height: 600px;
  width: 100px;
  display: inline-block;
}

#col1 {

}

#col2 {

}

#col3 {

}

#col4 {

}

#col5 {

}

#col6 {

}

#col7 {

}

.board-piece {
  background-color: #fdfe02;
  height: 80%;
  width: 80%;
  margin: 10%;
  border-radius: 50%;
  border-position: absolute;



}

.board-hole {
  height: 100px;
  width: 100px;
  background-color: #011efe;
}

#game-text {

}
